@import '../../mixins';
@import '../../variables';

.login{
    @include page-container;
    .login-container{
        @include flex-align(column, center, center, nowrap);
        margin-top:$nav-bar-horizontal-height;
    }
    .login-header{
        font-size:2.5rem;
        color:$text-color;
        padding:4rem;
    }
}
@include mobile-range{
    .login{
        .login-header{
            padding:2rem;
            font-size:2.2rem;
        }
    }
}