@import '../../mixins';
@import '../../variables';

.profile{
    @include page-container;
    
    .profile-container{
        @include flex-align(column, center, center, nowrap);
        margin-left:$nav-bar-width;    
    }
    .profile-info{
        width:50rem;
        box-shadow: $app-box-shadow;
        padding:2rem;  
    }
    .profile-photo-container{
        @include flex-align(row, flex-start, flex-end, nowrap);
    }
    .profile-restaurant-logo{
        margin-top:0.4rem;
        width:10rem;
        height:10rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
    .change-logo-container{
        @include flex-align(row, center, center, nowrap);
        padding:1rem;
    }
}
@include mobile-range{
    .profile{
        margin-top:$nav-bar-horizontal-height;
        .profile-container{
            margin:0;
            
        }
        .profile-info{
            width:100vw;
        }
    }
}