@import '../../mixins';
@import '../../variables';

.map{
    .google-maps-container{
        background-color: white;
        padding:2rem;
        position:absolute;
        top:1rem;
        transform: translateX(calc(50vw - 50%));
        width:40%;
        text-align: center;
        box-shadow: $app-box-shadow;
    }
}
@include mobile-range{
    .map{
        .google-maps-container{
            width:100%;
        }
    }
}