@import '../../mixins';
@import '../../variables';

.sign-up-third-step{
    @include flex-align(column, center, center, nowrap);
    .working-hours-container{
        text-align: center;
        background-color: $wrapper-color;
        padding:2rem;
        transform: translateY(calc(50vh - 50% - 6rem));
    }
    .working-hours-row{
        @include flex-align(row, space-between, center, nowrap);
        margin:0rem 0.2rem;
    }
    .working-hours-checkbox{
        margin: 0rem 2rem;
    }
}