@import '../../mixins';
@import '../../variables';

.sign-up-third-step{
    @include page-container;
    .working-hours-container{
        text-align: center;
        background-color: white;
        padding:2rem;
        margin-top:$nav-bar-horizontal-height;
        box-shadow: $app-box-shadow;
    }
    .working-hours-row{
        @include flex-align(row, space-between, center, nowrap);
        margin:1.5rem 0.2rem;
    }
    .working-hours-checkbox{
        margin: 0rem 2rem;
    }
}
@include mobile-range{
    .sign-up-third-step{
        .working-hours-row{
            @include flex-align(column, center, flex-start, nowrap);
            margin:0;
        }
    }
}