@import '../../mixins';
@import '../../variables';

.sign-up{
    @include page-container;
    .sign-up-container{
        @include flex-align(column, center, center, nowrap);
        margin-top:7rem;
    }
    .sign-up-header{
        font-size:2.2rem;
        color:$text-color;
        margin-bottom:1.4rem;
    }
}