@import '../../mixins';
@import '../../variables';

.modifiers{
    @include page-container;

    .modifiers-container{
        margin-left: $nav-bar-width;
        background-color: white;
    }
}

@include mobile-range{
    .modifiers{
        .modifiers-container{
            margin-left:0;
            margin-top:$nav-bar-horizontal-height;
        }
    }
}