@import '../../mixins';
@import '../../variables';

.modifiers{
    @include page-container;

    .modifiers-container{
        margin-left: $nav-bar-width;
        background-color: white;
        padding:1rem;
        width:50rem;
    }
    .modifier{
        @include flex-align(row, space-between, center, wrap);
        background-color: $wrapper-color;
        padding:2rem;
        margin:0.4rem 0rem;
    }
    .modifier-type{
        @include flex-align(row, flex-start, flex-start, nowrap);
        margin:1rem 0rem;
    }
    .modifier-example{
        color:$accent-color-2;
        font-size: 1.6rem;
    }
    .modifier-option{
        @include flex-align(row, flex-start, center, nowrap);
        width:100%;
        margin:0.4rem 0rem;
    }
    .modifier-option-name-input{
        width:70%;
    }
    .modifier-option-price-input{
        width:20%;
        margin-left:2rem;
        margin-right:0.2rem;
    }
    .add-new-modifier-option{
        background-color: $wrapper-color;
        color:$accent-color-2;
        padding:0.4rem;
        margin:0.6rem 0rem;
        font-size:1.6rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            background-color: $accent-color-2;
            color:white;
        }
    }
}

@include mobile-range{
    .modifiers{
        .modifiers-container{
            margin-left:0;
            margin-top:$nav-bar-horizontal-height;
            width:100vw;
        }
    }
}