@import '../../mixins';
@import '../../variables';

.change-password{
    @include page-container;

    .change-password-container{
        background-color: white;
        padding:4rem;
        margin-left: $nav-bar-width;
        width:40rem;
    }
}
@include mobile-range{
    .change-password{
        .change-password-container{
            margin:0;
            position: relative;
            top:$nav-bar-horizontal-height / 2;
            width:100vw;
        }
    }
}