@import '../../mixins';
@import '../../variables';

.change-password{
    @include page-container;
    .change-password-wrapper{
        // margin-left: $nav-bar-width;
    }
    .change-password-container{
        box-shadow: $app-box-shadow;
        padding:4rem;
        
        width:40rem;
    }
}
@include mobile-range{
    .change-password{
        .change-password-wrapper{
            margin:0;
        }
        .change-password-container{
            margin:0;
            position: relative;
            top:$nav-bar-horizontal-height / 2;
            width:100vw;
        }
    }
}