@import '../../mixins';
@import '../../variables';

.change-password{
    @include flexAlign(column, center, center, nowrap);
    .change-password-container{
        transform: translateY(calc(50vh - 50% - 6rem));
        padding:3rem;
        width:30rem;
        background-color: $wrapper-color;
    }
}