@import '../../mixins';
@import '../../variables';

.map{
    //@include flexAlign(column, center, flex-start, wrap);
    .google-maps-container{
        background-color: $accent-color;
        padding:2rem;
        position:absolute;
        top:1rem;
        transform: translateX(calc(50vw - 50%));
    }
    .search-google-maps{
        width:30rem;
    }
    .button-maps{
        width:max-content;
        background-color:$accent-color-2;
        padding:1rem;
        margin:1rem 0.6rem 0rem 0.6rem;
        color:white;
        font-size: 1.8rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            color: $accent-color;
        }
    }
}