@import '../../mixins';
@import '../../variables';

.meals-menu{
    @include flex-align(row, flex-start, stretch, wrap);
    width:59vw;
    margin-left:20vw;
    background-color: white;
    .meals-menu-add-meal{
        width:100%;
        margin:1rem 0rem;
    }
    .meals-menu-header{
        width:100%;
        font-size: 3rem;
        text-align: center;
        margin:0.6rem 0rem;
    }
    .menu-meal{
        @include flex-align(column, flex-start, center, nowrap);
        width:calc(25% - 0.4rem); //25% of parent - meal margin left and right each 0.2rem
        position: relative; // this is not needed when container is flex, his child with absolute position will position relative to flex container
        background-color: $wrapper-color;
        margin:0rem 0.2rem 0.4rem 0.2rem;
        border-radius: 0;
    }
    .menu-meal-header{
        width:100%;
        @include flex-align(row, space-between, flex-start, nowrap);
        padding:0.4rem 0.4rem;
    }
    .menu-meal-header-icons{
        @extend .menu-meal-header;
        justify-content: flex-end;
    }
    .menu-meal-name{
        color:$text-color;
        font-size:1.8rem;
    }
    .menu-meal-price{
        color:$accent-color-2;
        font-size: 1.8rem;
        font-weight: bold;
        margin-left:0.2rem;
    }
    .menu-meal-photo-container{
        position: relative; //in order to hidden description be apsolute to photo container and has his 100% width and height just like photo did
        width: 100%;
        font-size: 0;
        margin-top:auto; // in order to in flex container, this container goes to bottom if needed
    }
    .menu-meal-photo{
        width:100%;
        height:auto;
        transition: 0.2s;
        border-radius: 0;
        cursor: pointer;
    }
    .menu-meal-modifier{
        @include flex-align(row, space-between, center, nowrap);
        color:$text-color;
        font-size: 1.6rem;
    }
    .modifier-x{
        background-color: white;
        color:$text-color;
        &:hover{
            background-color: white;
            color:$accent-color;
        }
    }
    .menu-meal-hidden-description{
        opacity:0;
        position: absolute;
        top:0;
        left:0;
        @include flex-align(row,center,center,wrap);
        background-color: rgba($color: black, $alpha: 0.6);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.2s;
        border-radius: 0;
        padding:0.2rem;
        cursor: pointer;
    }
    .menu-meal-description{
        font-size: 1.8rem;
        color:white;
    }
    .add-meal-photo-container, .edit-meal-photo-container{
        text-align: center;
        padding:0.8rem;
    }
    .add-meal-photo, .edit-meal-photo{
        margin-right:1rem;
        border-radius:0;
        width:32rem;
        height:32rem;
    }
    .finish-adding-button{
        margin-top:1.1rem;
    }
}
@include mobile-range{
    .meals-menu{
        width: 100vw;
        margin:0rem 0.2rem;
        .menu-meal{
            width:calc(50vw - 0.8rem);
        }
        .menu-meal-hidden-description{
            display:none;
        }
    }
}