@import '../../mixins';
@import '../../variables';

.meals-menu{
    width:70%;
    .meals-menu-meal{
        @include flexAlign(row, space-between, center, wrap);
        background-color: $wrapper-color;
        padding:1rem;
        margin:1rem 0rem;
    }
    .meals-menu-container-1{
        width:60%;
    }
    .meals-menu-container-2{
        @include flexAlign(column, center, center, nowrap);
    }
    .meals-menu-buttons{
        margin: 1rem 0rem;
    }
    .meals-menu-header{
        width:100%;
        text-align: center;
        font-size:3rem;
        color:$accent-color;
        margin-top:2rem;
    }
    .meals-menu-photo{
        width:22rem;
        height:22rem;
    }
    .meals-menu-show-photo{
        width:100%;
        height:100%;
    }
}