@import '../../mixins';
@import '../../variables';

.working-hours{
    @include flex-align(column, center, center, nowrap);
    .working-hours-container{
        @include flex-align(column, center, center, nowrap);
        transform: translateY(calc(50vh - 50% - 6rem));
        padding:2rem;
        width:40rem;
        background-color: $wrapper-color;
    }
}