@import '../../mixins';
@import '../../variables';

.working-hours{
    @include page-container;
    .working-hours-container{
        @include flex-align(column, center, center, nowrap);
        margin-left:$nav-bar-width;
    }
    .working-hours-info{
        padding:3rem;
        box-shadow: $app-box-shadow;
    }
    .working-hours-row{
        @include flex-align(row, space-between, center, nowrap);
        margin:1.5rem 0rem;
    }
}

@include mobile-range{
    .working-hours{
        margin-top:$nav-bar-horizontal-height;
        .working-hours-container{
            margin:0;
        }
        .working-hours-info{
            padding:3rem;
            box-shadow: $app-box-shadow;
        }
        .working-hours-row{
            @include flex-align(column, center, flex-start, nowrap);
        }
    }
    
}