@import '../../mixins';
@import '../../variables';

.specials{
    @include page-container;
    
    .specials-container{
        margin-left:$nav-bar-width;
    }
    .specials-date-slot{
        @include flex-align(row,space-between,center,nowrap);
        width:60vw;
        background-color: white;
        padding:1rem;
        margin:0.4rem 0rem;
    }
    .specials-date-container{
        text-align: center;
        width:10rem;
    }
    .specials-date-name{
        font-size: 2rem;
        color:$accent-color-2;
    }
    .specials-date{
        font-size: 1.6rem;
        color:$accent-color-2;
    }
    .special-container{
        @include flex-align(row, flex-start, flex-start, nowrap);
        background-color: $wrapper-color;
        width:25%;
    }
    .special-photo{
        width:10rem;
        height:10rem;
        margin-right:0.2rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            opacity: 0.7;
        }
    }
    .add-special-photo-container, .edit-special-photo-container{
        text-align: center;
        margin:0.6rem 0rem;
    }
    .add-special-photo, .edit-special-photo{
        border-radius:0;
        width:32rem;
        height:32rem;
    }
    .finish-posting-button{
        margin-top:7.6rem;
    }
    .deleted-special-label{
        font-size: 2rem;
        color:$danger-color;
    }
    .fa-ban{
        color:$accent-color-2;
        margin:auto 0.4rem;
    }
    .special-input-time{
        margin:0;
        padding:0.6rem;
        font-weight: bold;
    }
    .special-date-margined{
        margin:0.8rem 0rem;
    }
}
@include mobile-range{
    .specials{
        justify-content: flex-start;
        margin-top:$nav-bar-horizontal-height;
        .specials-date-slot{
            @include flex-align(column, center, center, nowrap);
            width: 100vw;
            margin:1rem 0rem;
        }
        .specials-container{
            margin:0;
        }
        .special-container{
            width:max-content;
            margin:0.2rem;
        }
    }
}