@import '../../mixins';
@import '../../variables';

.specials{
    @include flex-align(column, center, center, nowrap);
    .specials-container{
        @include flex-align(row, center, stretch, wrap);
    }
    .special{
        @include flex-align(column, stretch, flex-start, wrap);
        background-color: $wrapper-color;
        width:30rem;
        padding:1rem;
        margin:1rem;
    }
    .special-photo{
        width:28rem;
        height:28rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            opacity: 0.7;
        }
    }
    .special-show-photo{
        width:100%;
        height:100%;
    }
    .special-photo-edit-modal{
        width: 15rem;
        height: 15rem;
    }
    .specials-buttons{
        @include flex-align(row, center, center, wrap);
        width: 100%;
        margin-top:auto;
    }
    .add-special-photo-container{
        text-align: center;
        margin:0.6rem 0rem;
    }
    .add-special-photo{
        border-radius:0;
        width:32rem;
        height:32rem;
    }
    .finish-posting-button{
        margin-top:7.6rem;
    }
}