@import '../../_variables.scss';
@import '../../_mixins.scss';
.nav-horizontal{
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    height: 6rem;
    width: 100vw;
    background-color:#313131;
    border-radius: 0;
    .nav-container-horizontal{
        @include flex-align(row, center, center, wrap);
        height:100%;
    }
}
.mobile-burger-menu{
    display:none;
}
.nav-logo{
    position: absolute;
    top:0.6rem;
    left:1rem;
    width:6.6rem;
    height:4.5rem;
}
.nav{
    position:fixed;
    top:0;
    left:0;
    z-index: 3;
    background-color:#313131;
    height:100vh;
    width:20vw;
    border-radius: 0;
    .nav-card{
        background-color: inherit;
        color:white;
        text-align: left;
        padding:1rem 1rem;
        padding-left:2rem;
        font-size: 2rem;
        height:6rem;
        width:100%;
        border-radius: 0;
        outline: none;
        transition:0.4s;
        cursor: pointer;
        &:hover{
            color:$success-color;
        }
    }
    .nav-card-active{
        @extend .nav-card;
        color:$success-color;
    }
    .nav-container{
        @include flex-align(column, flex-start, flex-start, wrap);
        margin-top:10rem;
    }
    .new-orders-count{
        background-color: $accent-color;
        color:white;
        padding:0.2rem 0.6rem;
        margin-left:2rem;
        font-size:2.2rem;
        font-weight: bold;
        cursor: pointer;
    }
}
.mobile-nav-bar{
    position: fixed;
    z-index:4;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #313131;
    border-radius: 0;
    padding-top:$nav-bar-horizontal-height;
    text-align: center;
    overflow-y: auto;
    @include flex-align(column, center, center, nowrap);
    .nav-card-mobile, .nav-card-active{
        background-color: inherit;
        color:white;
        width:80%;
        margin:auto;
        padding:1rem 0rem;
        text-align: left;
        font-size: 2.5rem;
        border-top:1px solid gray;
        border-bottom:1px solid gray;
        outline: none;
        text-align: center;
        cursor: pointer;
    }
}
@include mobile-range{
    .nav{
        width:100vw;
        height:6rem;
    }
    .nav-card{
        display:none;
    }
    .mobile-burger-menu{
        display:block;
        position:absolute;
        top:0.9rem;
        right:1.6rem;
    }
}