@import '../../_variables.scss';
@import '../../_mixins.scss';
.nav-horizontal{
    height: 6rem;
    width: 100vw;
    box-shadow: 0 0.4rem 0.4rem -0.2rem $wrapper-color;
}
.nav-container-horizontal{
    @include flex-align(row, center, center, wrap);
    height:100%;
}
nav{
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
    background-color:white;
    box-shadow: 0.8rem 0 1rem -0.8rem $accent-color;
    height:100vh;
    width:20vw;
    border-radius: 0;
   
    .nav-card{
        position: relative;
        background-color: inherit;
        color:$text-color;
        text-align: left;
        padding:1rem 1rem;
        padding-left:2rem;
        font-size: 2rem;
        height:6rem;
        width:100%;
        border-radius: 0;
        transition:0.4s;
        cursor: pointer;
        &:hover{
            color:white;
            background-color: $accent-color-2;
        }
    }
    .nav-card-active{
        @extend .nav-card;
        background-color: $accent-color-2;
        color:white;
    }
    .nav-container{
        @include flex-align(column, flex-start, flex-start, wrap);
        margin-top:10rem;
    }
    .new-orders-count{
        position: absolute;
        top:0.2rem;
        left:0.2rem;
        background-color: $accent-color;
        color:white;
        padding:0.2rem 0.6rem;
        font-size:2rem;
        font-weight: bold;
        cursor: pointer;
    }
    .nav-logo{
        position: absolute;
        top:0.6rem;
        left:1rem;
        width:6.6rem;
        height:4.5rem;
    }
}
@include mobile-range{
    nav{
        position: fixed;
        box-shadow: 0 0.4rem 0.4rem -0.2rem $wrapper-color;
        height:6rem;
        width:100vw;
        .nav-container{
            @include flex-align(row, center, center, wrap);
            margin:0rem;
        }
        .nav-card{
            width:12%;
            padding:0;
            margin:0;
            font-size:0.8rem;
            text-align: center;
        }
        .nav-logo{
            display:none;
        }
    }
}