@import '../../mixins';
@import '../../variables';

.orders{
    width:100vw;
    height:100vh;
    @include flex-align(column,flex-start,center,nowrap);
    .orders-container{
        width:60rem;
        margin-left:$nav-bar-width;
    }
    .order{
        background-color: $accent-color;
        margin:0.4rem 0rem;
        padding:1rem;
    }
    .order-header{
        @include flex-align(row, space-between, center, wrap);
        border-radius: 0;
        padding:0.2rem;
    }
    .order-meal{
        background-color: white;
        margin:0.4rem 0rem;
        padding:1.6rem;
    }
    .order-buttons{
        text-align: center;
    }
    .order-button-reject{
        background-color: $danger-color;
        color:white;
        font-size: 1.8rem;
        padding:1rem;
        margin:0.2rem 0.8rem;
        cursor: pointer;
    }
    .order-button-accept{
        @extend .order-button-reject;
        background-color: $success-color;
    }
}
@include mobile-range{
    .orders{
        .orders-container{
            margin:0;
            margin-top:$nav-bar-horizontal-height;
            width: 100vw;
        }
    }
}