@import '../../mixins';
@import '../../variables';

.menu{
    background-color: white;
    .menu-container{
        @include flex-align(row, flex-start, flex-start, wrap);
        margin-left:20vw;
        width:calc(80vw - 2rem); // 2 rem = for Y scrollbar
    }
    .menu-categories{
        position:fixed;
        z-index: 1;
        width:19.8vw;
        height:100vh;
        background-color: white;
        padding:10.4rem 1rem 1rem 1rem;
        box-shadow: 0.8rem 0 1rem -0.8rem $accent-color;
    }
    .menu-category{
        @include flex-align(row,flex-start,center,wrap);
        font-size: 2rem;
        margin:1rem 0rem;
        padding:1rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            background-color: $wrapper-color;
        }
    }
    .menu-footer-mobile{
        display:none;
    }
}
@include mobile-range{
    .menu{
        .menu-container{
            width: 100vw;
            margin-left:0;
            margin-top:$nav-bar-horizontal-height;
        }
        .menu-categories{
            z-index:2;
            background-color: $wrapper-color;
            visibility: hidden;
            width:100vw;
            margin:0;
            padding:0;
            left:0;
            top:100vh;
            transition:0.4s;
        }
        .menu-footer-mobile{
            z-index:2;
            display:block;
            position:fixed;
            bottom:0;
            width:100vw;
            background-color: $accent-color;
            border-radius: 0;
            color:white;
            padding:1rem;
            font-size: 1.6rem;
        }
    }
}